
.p1{
    font-size: 25px;
    font-family: 'font1';
    font-weight: bold;
    line-height: 50px;

}

.p2{
    font-size: 15px;
    font-family: 'font2';
    font-weight: normal;
    line-height: 30px;
    
}

.p3{
    font-size: 25px;
    font-family: 'font3';
    font-weight: bold;
    line-height: 30px;
    
}